body.dark-bg {
    background: linear-gradient(rgba(2, 1, 11, 0.9), rgba(40, 0, 5, 0.9));
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.white-text {
    color: white;
}

.neon-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 0px;
    box-shadow: 0 0 15px rgb(69, 10, 34), 0 0 45px rgb(69, 10, 34), 0 0 85px rgb(69, 10, 34);
}

.form-card {
    background: rgba(50, 50, 50, 0.1);
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.url-box {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.submit-button {
    padding: 15px 30px;
    margin: 30px auto;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: larger;
    border-radius: 5px;
}

.url-item {
    background: rgba(128, 128, 128, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.price-card {
    display: none;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 15px;
    margin-bottom: 20px;
}

.btn {
    background-color: rgba(50, 50, 50, 0.6);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.6);
}

.email-link {
    color: white;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.delete-item {
    cursor: pointer;
    color: gray;
    font-weight: bold;
    font-size: 1.2em;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-title {
    flex-grow: 1;
}

.price-trend {
    font-size: 1.2em;
    margin-right: 10px;
    cursor: default;
}

.price-trend.up {
    color: green;
    content: "\2191"; /* Unicode for upward arrow */
}

.price-trend.same {
    color: gray;
    content: "\2192"; /* Unicode for rightward arrow */
}

.price-trend.down {
    color: red;
    content: "\2193"; /* Unicode for downward arrow */
}

/* Navbar Styles */
.navbar {
    background-color: rgba(50, 50, 50, 0.8); /* Semi-transparent dark background */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light border for separation */
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8); /* Slightly muted white */
    margin-right: 10px; /* Spacing between links */
}

.nav-link:hover {
    color: white; /* Bright white on hover for contrast */
}

.navbar-text {
    color: white;
    margin-right: 10px; /* Consistent spacing */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar-collapse {
        background-color: rgba(50, 50, 50, 0.9); /* Dark background for collapsed menu */
        padding: 10px; /* Padding for touch targets */
    }
}