<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PriceCooker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="dark-bg">
<header class="header text-center">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ url_for('home.homepage') }}">PriceCooker</a>

        <div class="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                    <span class="navbar-text">
                        Hello {{ current_user.username }}, you are logged in.
                    </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <h1 class="white-text mt-5 display-2">PriceCooker</h1>
    <p class="white-text mt-3 lead">Give me an item and I will keep an eye on the price.</p>
</header>

<main>

    <div class="container mt-5">
        <div class="neon-box">
            <form class="form-card">
                <input type="text" name="itemURL" class="url-box" placeholder="Enter URL of the item">
                <button type="submit" class="submit-button">Submit</button>
            </form>
        </div>

        <ul class="list-unstyled mt-5">
            {% for item_id, data in price_data.items() %}
                <li class="url-item" onclick="toggleCard('{{ item_id }}')">

                    <div class="item-container">
                        <span class="item-title">{{ data['name'] }}</span>
                        <span class="delete-item" onclick="deleteItem('{{ item_id }}', event)"
                              title="Delete item">X</span>
                    </div>

                    <div id="{{ item_id }}-card" class="price-card">
                        <canvas id="{{ item_id }}-chart"></canvas>
                        <div>
                            <p>Latest Price: {{ data['latest'] }} CZK</p>
                            <p>Highest Price: {{ data['highest'] }} CZK</p>
                            <p>Lowest Price: {{ data['lowest'] }} CZK</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>


    <script>
        function addItemToList(item) {
            const itemList = document.querySelector('.list-unstyled');
            if (!itemList) return;  // Ensure the item list element exists

            // Template for the new item
            const itemHtml = `
        <li class="url-item" onclick="toggleCard('${item._id}')">
            <div class="item-container">
                <span class="item-title">${item.name}</span>
                <span class="delete-item" onclick="deleteItem('${item._id}', event)" title="Delete item">X</span>
            </div>
            <div id="${item._id}-card" class="price-card">
                <canvas id="${item._id}-chart"></canvas>
            </div>
        </li>`;

            // Add the new item to the list
            itemList.insertAdjacentHTML('beforeend', itemHtml);
        }

        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector(".form-card");
            form.addEventListener("submit", function (event) {
                event.preventDefault();
                const urlValue = document.querySelector(".url-box").value;

                fetch("/item", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({url: urlValue})
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Item created and data stored successfully") {
                            addItemToList(data.item); // Use the item details from the server response
                        } else {
                            console.error('Error adding item:', data.message);
                        }
                    })
                    .catch(error => console.error('Error adding item:', error));
            });
        });

        //extends card with price data
        function loadPriceData(itemId) {
            fetch(`/price_history/${itemId}`)
                .then(response => response.json())
                .then(data => {
                    if (data && data.length > 0) {
                        renderChart(itemId, data);
                        renderPrices(itemId, data);
                    } else {
                        console.error('No price history data found for item:', itemId);
                    }
                })
                .catch(error => console.error('Error fetching price data:', error));
        }

        function renderChart(itemId, history) {
            const ctx = document.getElementById(`${itemId}-chart`).getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: history.map(item => new Date(item.timestamp).toLocaleDateString()),
                    datasets: [{
                        label: 'Price over Time',
                        data: history.map(item => item.price),
                        fill: false,
                        borderColor: 'rgb(208,24,99)',
                        tension: 0.1
                    }]
                }
            });
        }

        function renderPrices(itemId, history) {
            let latestPrice = history[history.length - 1].price;
            let highestPrice = Math.max(...history.map(item => item.price));
            let lowestPrice = Math.min(...history.map(item => item.price));

            document.getElementById(`${itemId}-actual-price`).innerText = latestPrice;
            document.getElementById(`${itemId}-highest-price`).innerText = highestPrice;
            document.getElementById(`${itemId}-lowest-price`).innerText = lowestPrice;
        }

        function toggleCard(itemId) {
            const card = document.getElementById(`${itemId}-card`);
            if (!card) return; // Ensure the card element exists

            if (card.style.display === "none" || !card.style.display) {
                card.style.display = "flex";
                loadPriceData(itemId);
            } else {
                card.style.display = "none";
            }
        }

        // Delete an item and refresh the page
        function deleteItem(itemId, event) {
            event.stopPropagation(); // Prevent triggering toggleCard
            if (confirm('Are you sure you want to delete this item?')) {
                fetch(`/item/${itemId}`, {
                    method: 'DELETE',
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Item deleted") {
                            location.reload(); // Reload page to update the list
                        }
                    })
                    .catch(error => console.error('Error deleting item:', error));
            }
        }

    </script>
</main>

<footer class="footer">
    <span><a href="mailto:lukaspospisill@gmail.com" class="email-link">@lukaspspsl</a></span>
</footer>
</body>
</html>
